<nav
  class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
  id="navbarBlur"
  data-scroll="true"
>
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-dark" href="javascript:;">GestionAR</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active" id="current-page">
          Dashboard
        </li>
      </ol>
    </nav>
    <ul class="navbar-nav justify-content-end ms-auto">
      <li class="nav-item d-flex align-items-center">
        <a href="#" class="nav-link text-body font-weight-bold px-0">
          <i class="material-icons me-2">account_circle</i>
          <span class="d-sm-inline d-none" id="navbar-username">Usuario</span>
        </a>
      </li>
      <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
        <a
          href="javascript:;"
          class="nav-link text-body p-0"
          id="iconNavbarSidenav"
        >
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
